:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

* {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}

header, main, footer {
  margin: 0 auto;
  max-width: 80ch;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.dark body {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

