:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

* {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
  width: 100%;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

