---
import Layout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const title = 'nev.codes'
const description = 'Another blog...';
---

<Layout title={title} showTitle={false} description={description}>
	<h1>Welcome to <span class="text-gradient">nev.codes</span></h1>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

