---
import Layout from '../layouts/Layout.astro';
---

<Layout title="nev.codes">
	<h1>Welcome to <span class="text-gradient">nev.codes</span></h1>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

