---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <a class="site-name" href="/">nev.codes</a>
  <Hamburger />
  <ThemeIcon />
  <Navigation />
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
		padding: 1rem 0;
  }

  .site-name {
    font-size: 2rem;
    text-decoration: none;
  }

  .site-name:hover {
    text-decoration: underline;
  }
</style>
